 <section class="mx-auto max-w-7xl px-4 py-24 sm:px-6 lg:px-8">
  <div class="grid gap-8 md:grid-cols-2">

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-lime-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(132,204,22,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
            data-aos="zoom-out-down" 

    >
      <!-- Glow -->
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -top-20 -left-20 h-52 w-52 rounded-full bg-lime-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-lime-400 drop-shadow-lg"
        >
          100%
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Quality Assured
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-cyan-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(34,211,238,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"       data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -top-20 -right-20 h-52 w-52 rounded-full bg-cyan-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-cyan-400 drop-shadow-lg"
        >
          24/7
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Support Available
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg_gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-yellow-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(250,204,21,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"       data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -left-20 h-52 w-52 rounded-full bg-yellow-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-yellow-400 drop-shadow-lg"
        >
          PAN India
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Supply Network
        </p>
      </div>
    </div>



   




    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50 p-10 backdrop-blur-xl transition-all duration-500 ease-out hover:-translate-y-4 hover:scale-[1.02] hover:border-pink-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(244,114,182,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
            data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -right-20 h-52 w-52 rounded-full bg-pink-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-pink-400 drop-shadow-lg"
        >
          Fast
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Project Delivery
        </p>
      </div>
    </div>

  </div>



  <div class="text-center mt-16 mb-16">
    <h2 class="text-4xl font-bold text-neutral-800 dark:text-white"  data-aos="zoom-out-down" 
>
      Core <span class="text-yellow-500">Values</span>
    </h2>
  </div>
 <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-lime-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(132,204,22,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
      
    >
      <!-- Glow -->
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
        data-aos="zoom-out-down" 
      >
        <div
          class="absolute -top-20 -left-20 h-52 w-52 rounded-full bg-lime-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-lime-400 drop-shadow-lg"
        >
          Precision Engineering
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
         We deliver accurately engineered solutions designed for superior strength, safety, and long-term performance.
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-cyan-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(34,211,238,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"       data-aos="zoom-out-down" 
 data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -top-20 -right-20 h-52 w-52 rounded-full bg-cyan-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-cyan-400 drop-shadow-lg"
        >
       Trusted Quality
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Every product reflects our commitment to premium quality, durability, and industry standards.
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-yellow-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(250,204,21,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"       data-aos="zoom-out-down" 
 data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -left-20 h-52 w-52 rounded-full bg-yellow-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight drop-shadow-lg"
        >
          Client-Focused Approach
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          We build strong relationships by understanding client requirements and delivering reliable support at every stage.
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50 p-10 backdrop-blur-xl transition-all duration-500 ease-out hover:-translate-y-4 hover:scale-[1.02] hover:border-pink-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(244,114,182,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
       data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -right-20 h-52 w-52 rounded-full bg-pink-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-pink-400 drop-shadow-lg"
        >
          Timely Execution
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          We value time and ensure smooth operations with efficient production and on-schedule delivery.
        </p>
      </div>
    </div>



     <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50 p-10 backdrop-blur-xl transition-all duration-500 ease-out hover:-translate-y-4 hover:scale-[1.02] hover:border-pink-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(244,114,182,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
       data-aos="zoom-out-down" 

    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -right-20 h-52 w-52 rounded-full bg-pink-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-pink-400 drop-shadow-lg"
        >
          Strength & Reliability
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Our solutions are built to perform under demanding construction and industrial environments.
        </p>
      </div>
    </div>


     <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-neutral-900/30 bg-gray-50 p-10 backdrop-blur-xl transition-all duration-500 ease-out hover:-translate-y-4 hover:scale-[1.02] hover:border-pink-400/40 hover:bg_white/10 hover:shadow-[0_0_40px_rgba(244,114,182,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
       data-aos="zoom-out-down" 
    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -right-20 h-52 w-52 rounded-full bg-pink-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-pink-400 drop-shadow-lg"
        >
         Innovation Driven
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
         We continuously adopt advanced technology and modern manufacturing practices to improve performance and efficiency.
        </p>
      </div>
    </div>

  </div>
</section>